<header>
    <div class="wrap">
        <div class="headerLeft">
            <img src="/images/logo_light_4.png" alt="Logo Light"/>
        </div>
        <div class="headerRight">
            <div class="title">
                <span>PLANO DE AÇÃO</span>
            </div>
            <div class="perfil">
                <div class="infoPerfil">
                    <span>Victor Kronemberg</span>
                </div>
                <a href="/login.html">
                    <img src="/images/perfil.png" />
                </a>
            </div>
        </div>
    </div>
</header>