<div id="menu">
    <div class="wrap">
        <div id="megaMenu">
            <ul>
                <li><a href="/listaAvaliacoes.html">LISTA DE AVALIAÇÕES</a></li>
                <li><a href="/cadastroFornecedor.html">CADASTRO DE FORNECEDOR</a></li>
                <li><a href="/prazoPlanoAcao.html">PRAZO DE PLANO DE AÇÃO</a></li>
            </ul>
        </div>
    </div>
</div>