<link rel="stylesheet" type="text/css" href="/css/registroAceiteFisico.css" />

<div class="opacity">
    <div id="subHeader">
        <div class="wrap">
            <div class="sideLeft">
                <span>REGISTRO DE ACEITE FÍSICO</span>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="wrap">
            <div class="form">
                <label for="chooseDocument" id="labelChooseDocument">Escolher arquivo</label>
                <input type="file" id="chooseDocument" />
            </div>
            <div class="files">
                <ul>
                    <li>Nenhum arquivo selecionado</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="wrap">
            <div class="others form">
                <div class="sideRight">
                    <input type="button" value="Salvar" id="btnSalvar"/>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="/js/registroAceiteFisico.js"></script>
