<script src="/js/google_chart/pizza.js" ></script>
<script src="/js/google_chart/barras_ver_div.js" ></script>
<script src="/js/google_chart/barras_hor_div.js" ></script>

<div class="topicos_obra">
    <div id="bg_color_topicos_verde" class="dimensoes_topicos">
        <img class="img_topicos" src="images/icones_info/carrinhob.svg" alt="">
        <span class="topicos">Fornecedor</span>
        <span class="num_info_topicos">27</span>
    </div>
    <div id="bg_color_topicos_amarelo" class="dimensoes_topicos">
        <img class="img_topicos" src="images/icones_info/pab.svg" alt="">
        <span class="topicos">Material</span>
        <span class="num_info_topicos">157</span>
    </div>
    <div id="bg_color_topicos_azul" class="dimensoes_topicos">
        <img class="img_topicos" src="images/icones_info/pergaminhob.svg" alt="">
        <span class="topicos">Orçamento</span>
        <span class="num_info_topicos">256</span>
    </div>
    <div id="bg_color_topicos_vermelho" class="dimensoes_topicos">
        <img class="img_topicos" src="images/icones_info/pedreirob.svg" alt="">
        <span class="topicos">Mão de obra</span>
        <span class="num_info_topicos">44</span>
    </div>
</div>

<div class="graficos_prim">
    <div class="ctrl_ativ">
        <h2 class="titulo_dos_graf">Gastos mensais</h2>
        <div id="barras_ver_div"></div>
    </div>
    <div class="ctrl_ativ">
        <h2 class="titulo_dos_graf">Controle de atividades</h2>
        <div id="pizza_div"></div>
    </div>
</div>

<div class="graficos_sec">
    <h2 class="titulo_dos_graf">Controle de tarefas</h2>
    <div id="barras_hor_div"></div>
</div>