
@{
    ViewBag.Title = "SuccessoNovoContato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contato Gravado com Sucesso</h2>
<dv>
    <a href="@Url.Action("NovoContato","Contato")">Criar Contato</a>
</dv>

<dv>
    <a href="@Url.Action("Index","Home")">Página Inicial</a>
</dv>