<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/listaAvaliacoes.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="/js/util.js"></script>
        <script type="text/javascript" src="/js/listaAvaliacoes.js"></script>
    </head>
    <body>
        {{>header}}
        {{>menu}}
        {{>modals}}
        {{>alerts}}
        
        <div id="content" >
            <div class="wrap">
                <div id="subHeader">
                    <div class="wrap">
                        <div class="sideLeft">
                            <span>LISTA DE AVALIAÇÕES</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="boxSideLeft">
                        <span>COMPETÊNCIA</span>
                        <select>
                            <option>JAN/2020 À MAR/2020</option>
                            <option>ABR/2020 À JUN/2020</option>
                            <option>JUL/2020 À SET/2020</option>
                            <option>OUT/2020 À DEZ/2020</option>
                        </select>
                    </div>
                    <div class="boxSideRight">
                        <span>FORNECEDOR</span>
                        <select>
                            <option>LOREM</option>
                            <option>IPSUM</option>
                            <option>DOLOR</option>
                            <option>SIT</option>
                            <option>AMET</option>
                        </select>
                    </div>
                </div>
                <div class="box">
                    <div id="deck">
                        <div class="card">
                            <ul>
                                <a href="/detalhesAvaliacao.html">
                                    <li>100123321</li>
                                    <li>REDE</li>
                                    <li class="nota">7.0</li>
                                    <li>N/A</li>
                                </a>
                            </ul>
                        </div>
                        <div class="card">
                            <ul>
                                <a href="/detalhesAvaliacao.html">
                                    <li>100123321</li>
                                    <li>REN</li>
                                    <li class="nota">3.0</li>
                                    <li>N/A</li>
                                </a>
                            </ul>
                        </div>
                        <div class="card">
                            <ul>
                                <a href="/detalhesAvaliacao.html">
                                    <li>100123321</li>
                                    <li>SUBTERRÂNEO</li>
                                    <li class="nota">2.0</li>
                                    <li>N/A</li>
                                </a>
                            </ul>
                        </div>
                        <div class="card">
                            <ul>
                                <a href="/detalhesAvaliacao.html">
                                    <li>100123321</li>
                                    <li>REDE</li>
                                    <li class="nota">1.0</li>
                                    <li>N/A</li>
                                </a>
                            </ul>
                        </div>
                        <div class="card">
                            <ul>
                                <a href="/detalhesAvaliacao.html">
                                    <li>100123321</li>
                                    <li>REDE</li>
                                    <li class="nota">6.0</li>
                                    <li>N/A</li>
                                </a>
                            </ul>
                        </div>
                        <div class="card">
                            <ul>
                                <a href="/detalhesAvaliacao.html">
                                    <li>100123321</li>
                                    <li>REDE</li>
                                    <li class="nota">9.0</li>
                                    <li>N/A</li>
                                </a>
                            </ul>
                        </div>
                        <div class="card">
                            <ul>
                                <a href="/detalhesAvaliacao.html">
                                    <li>100123321</li>
                                    <li>REDE</li>
                                    <li class="nota">4.0</li>
                                    <li>N/A</li>
                                </a>
                            </ul>
                        </div>
                        <div class="card">
                            <ul>
                                <a href="/detalhesAvaliacao.html">
                                    <li>100123321</li>
                                    <li>REDE</li>
                                    <li class="nota">8.0</li>
                                    <li>N/A</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="wrap">
                <div class="others">
                
                </div>
            </div>
        </footer>
    </body>
</html>