<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/planoAcao.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="/js/util.js"></script>
        <script type="text/javascript" src="/js/planoAcao.js"></script>
    </head>
    <body>
        <!-- layout ini -->
        <header>
            <div class="wrap">
                <div class="headerLeft">
                    <img src="/images/logo_light_4.png" alt="Logo Light"/>
                </div>
                <div class="headerRight">
                    <div class="title">
                        <span>PLANO DE AÇÃO</span>
                    </div>
                    <div class="perfil">
                        <div class="infoPerfil">
                            <span>Victor Kronemberg</span>
                        </div>
                        <a href="/login.html">
                            <img src="/images/perfil.png" />
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div id="menu">
            <div class="wrap">
                <div id="megaMenu">
                    <ul>
                        <li><a href="/listaAvaliacoes.html">LISTA DE AVALIAÇÕES</a></li>
                        <li><a href="/cadastroFornecedor.html">CADASTRO DE FORNECEDOR</a></li>
                        <li><a href="/prazoPlanoAcao.html">PRAZO DE PLANO DE AÇÃO</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="alerts">
            <div class="wrap">
                <div class="notification internal">
                    <span class="msgWarning"></span>
                </div>
            </div>
        </div>
        <div id="modals">
            <div class="wrap" id="targetModals">
                
            </div>
        </div>
        <!-- layout fim -->

        <div id="content">
            <div class="wrap">
                <div id="subHeader">
                    <div class="wrap">
                        <div class="sideLeft">
                            <span>PLANO DE AÇÃO</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                   <div class="sideLeft">
                        <ul>
                            <li>
                                <span>Empresa Light: </span>
                                <span>XXXXX</span>
                            </li>
                            <li>
                                <span>Competência: </span>
                                <span>XXXXX</span>
                            </li>
                        </ul>
                   </div>
                   <div class="sideRight">
                        <ul>
                            <li>
                                <span>Modelo: </span>
                                <span>XXXXX</span>
                            </li>
                            <li>
                                <span>Contato: </span>
                                <span>XXXXX</span>
                            </li>
                        </ul>
                   </div>
                </div>
                <hr/>
                <div class="box customBox">
                    <div class="lstPlanosAcao">
                        <ul>
                            <li>
                                <div class="card">
                                    <div class="arrowDown"></div>
                                    <div class="cardTitle">
                                        <span>01 Qualidade dos serviços</span>
                                    </div>
                                    <div class="cardNota">
                                        <span>0.3530</span>
                                    </div>
                                </div>
                                <div class="subCard1" subCard1ID="1">
                                    <div class="arrowDown"></div>
                                    <div class="cardTitle">
                                        <span>1.1 Planejamento</span>
                                    </div>
                                </div>
                                <div class="subCard2" subCard2ID="1" cardPai="1">
                                    <div class="arrowDown"></div>
                                    <div class="cardTitle">
                                        <span>1.1.1 Qual o grau de conhecimento da equipe</span>
                                    </div>
                                    <div class="cardNota">
                                        <span>0.000</span>
                                    </div>
                                </div>
                                <div class="subCard3" subCard3ID="1" cardPai="1">
                                    <div class="cardTitle">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a mi vitae turpis lacinia aliquam id ut purus. Phasellus dictum tincidunt neque, eu auctor sapien vulputate et. Donec fermentum purus non ex volutpat, id placerat urna pulvinar.</span>
                                    </div>
                                </div>
                                <div class="subCard2" subCard2ID="2" cardPai="1">
                                    <div class="arrowDown"></div>
                                    <div class="cardTitle">
                                        <span>1.1.2 As equipes cumpriram os horários</span>
                                    </div>
                                    <div class="cardNota">
                                        <span>0.000</span>
                                    </div>
                                </div>
                                <div class="subCard3" subCard3ID="2" cardPai="2">
                                    <div class="cardTitle">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a mi vitae turpis lacinia aliquam id ut purus. Phasellus dictum tincidunt neque, eu auctor sapien vulputate et. Donec fermentum purus non ex volutpat, id placerat urna pulvinar.</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr/>
                <div class="box customBox">
                    <h2>HISTÓRICO</h2>
                    <div class="historio">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra est vel porttitor dapibus. Suspendisse laoreet sit amet libero eget interdum. Nullam ultrices consectetur pharetra. Cras tortor ligula, commodo nec mauris eu, mattis vestibulum magna. Duis eget eleifend turpis, id dignissim lorem. Suspendisse consequat consectetur facilisis. Ut a massa luctus, accumsan felis eu, vehicula ante. Nam ornare a ex eu feugiat. Etiam lorem purus, commodo ac fermentum nec, semper ut lectus. Nam sem massa, bibendum sit amet neque ac, faucibus aliquam magna. Quisque volutpat dolor placerat posuere auctor. Nulla facilisi. Mauris sit amet ligula justo. Aliquam fermentum finibus erat ac bibendum. Quisque mattis viverra ultricies. Phasellus eu lacus rutrum orci faucibus tincidunt.
                        </p>
                        <div class="info">
                            <span>Rejeitado - 07/01/2020</span>
                        </div>
                    </div>
                    <div class="historio">
                        <p>
                            Maecenas id maximus mi, vitae sodales ipsum. In laoreet risus nec nisl posuere ullamcorper. Morbi et aliquet metus. Aliquam dapibus ligula eget turpis pulvinar porttitor. In hac habitasse platea dictumst. Quisque nec tellus quis dui auctor congue vitae in risus. Vestibulum vel quam id elit fringilla venenatis ut a nunc. Suspendisse scelerisque ac justo eget viverra. Sed luctus sapien at tellus efficitur elementum. Proin viverra tincidunt orci in venenatis..
                        </p>
                        <div class="info">
                            <span>Rejeitado - 07/01/2020</span>
                        </div>
                    </div>
                    <div class="historio">
                        <p>
                            Maecenas id maximus mi, vitae sodales ipsum. In laoreet risus nec nisl posuere ullamcorper. Morbi et aliquet metus. Aliquam dapibus ligula eget turpis pulvinar porttitor. In hac habitasse platea dictumst. Quisque nec tellus quis dui auctor congue vitae in risus. Vestibulum vel quam id elit fringilla venenatis ut a nunc. Suspendisse scelerisque ac justo eget viverra. Sed luctus sapien at tellus efficitur elementum. Proin viverra tincidunt orci in venenatis..
                        </p>
                        <div class="info">
                            <span>Rejeitado - 07/01/2020</span>
                        </div>
                    </div>
                    <div class="historio">
                        <p>
                            Maecenas id maximus mi, vitae sodales ipsum. In laoreet risus nec nisl posuere ullamcorper. Morbi et aliquet metus. Aliquam dapibus ligula eget turpis pulvinar porttitor. In hac habitasse platea dictumst. Quisque nec tellus quis dui auctor congue vitae in risus. Vestibulum vel quam id elit fringilla venenatis ut a nunc. Suspendisse scelerisque ac justo eget viverra. Sed luctus sapien at tellus efficitur elementum. Proin viverra tincidunt orci in venenatis..
                        </p>
                        <div class="info">
                            <span>Rejeitado - 07/01/2020</span>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="box">
                    <h2>PLANO DE AÇÃO</h2>
                    <textarea></textarea>
                    <div class="filePlanoAcao">
                        <span>CLIQUE OU ARRASTE SEU ARQUIVO</span>
                    </div>
                </div>
                <div class="btn">
                    <div id="btnAprovar" class="oButton success"><a href="#">APROVAR</a></div>
                    <div id="btnRejeitar" class="oButton warning"><a href="#">REJEITAR</a></div>
                </div>
                <div class="btn">
                    <div id="btnEnviar" class="oButton alert"><a href="#">ENVIAR</a></div>
                </div>
            </div>
        </div>

        <footer>
            <div class="wrap">
                <div class="others">
                    
                </div>
            </div>
        </footer>
    </body>
</html>